<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<!--<p>This is the partial for view 3.</p>-->
<!--<p>Data is fetched from a REST service, connected to MongoDB </p>-->
<!--<ul>-->
  <!--<li ng-repeat="user in users"> {{user.userName}} {{user.email}} </li>-->
<!--</ul>-->
<!--</p>-->

<div class="row">
  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Index</th>
          <th><a href="" ng-click="predicate = 'First Name'; reverse=!reverse">First Name</a></th>
          <th><a href="" ng-click="predicate = 'Last Name'; reverse=!reverse">Last Name</a></th>
          <th><a href="" ng-click="predicate = 'Role'; reverse=!reverse">Role</a></th>
          <th><a href="" ng-click="predicate = 'Email'; reverse=!reverse">Email</a></th>
          <th><a href="" ng-click="predicate = 'Address'; reverse=!reverse">Address</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in foundPersons">
          <td>{{$index+1}}</td>
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.role}}</td>
          <td>{{person.email}}</td>
          <td>{{person.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>