<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<br/>


<div class="col-sm-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
  <div class="form-horizontal">
    <fieldset>
      <legend>{{foundStudents[0].userName}}</legend>

      <label style="width: 6em">Name:</label>
      <div>{{foundStudents[0].lastName}}, {{foundStudents[0].firstName}}</div><br/>

      <label style="width: 6em">ClassName:</label>
      <div>{{foundClass[0].name}}</div><br/>

    </fieldset>
  </div>
</div>

<p style="color: #105cb6">

  {{info.msg}}
</p>

<div class="col-md-8">

  <table class="table table-striped" ng-show="isUser">
    <thead>
    <tr>
      <th>Period</th>
      <th ng-repeat="task in foundTasks | orderBy: '_id'">{{task.name}}</th>
      <th>Total Points</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="period in foundPeriod | orderBy: '_id'">
      <td>{{period.name}}</td>
      <td>{{foundTask[0].name}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>

