<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<br/>


<div class="col-md-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
  <div class="form-horizontal">
    <fieldset>
      <legend>{{foundStudents[0].userName}}</legend>
      <label style="width: 6em">Name:</label>
      <div>{{foundStudents[0].lastName}}, {{foundStudents[0].firstName}}</div><br/>

  <label style="width: 6em">ClassName:</label>
  <label>{{foundStudents[0].classname}}</label><br/>

    </fieldset>
  </div>
</div>

<p style="color: #105cb6">

  {{info.msg}}
</p>

<div class="col-md-8">

  <table class="table table-striped" ng-show="isUser">
    <thead>
    <tr>
      <th>Period</th>
      <th>Task Name</th>
      <th>Max Points</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="period in foundPeriod">
    <td>{{task.periodId}}</td>
    <td>{{task.name}}</td>
    <td>{{task.maxPoints}}</td>
    <td>{{task.description}}</td>
    </tr>
    <!--<tr ng-repeat="task in foundTasks">-->
      <!--<td>{{task.periodId}}</td>-->
      <!--<td>{{task.name}}</td>-->
      <!--<td>{{task.maxPoints}}</td>-->
      <!--<td>{{task.description}}</td>-->
    <!--</tr>-->
    </tbody>
  </table>
</div>
</div>

